
section
{
    border: 5px darkolivegreen solid;
    border-radius:150px;
    box-sizing: border-box;
    text-align: center;
    height: 350px;
    width: 350px;
    margin-left: 500px;
    margin-top: 100px;
    padding-top: 90px;
}
section button
{
    background-color: cadetblue;
    box-sizing: border-box;
    box-shadow: slateblue;
    cursor: pointer;
}
section button:hover
{
    background-color:skyblue;
}
section div
{
    background-color: slategrey;
    height: 20px;
    border: darkslateblue solid 2px; 
    box-sizing:border-box;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    height: 50px;
    width: 150px;
}
button
{font-family: Raleway,sans-serif;
-webkit-font-smoothing: antialiased;
list-style: none;
cursor: pointer;
font-size: 16px;
line-height: 34px;
font-weight: 700;
color: #727272;
box-sizing: border-box;
-webkit-tap-highlight-color: transparent;
background: 0 0;
border: 0;
margin: 0;
vertical-align: baseline;
outline: 0;
display: inline-block;
padding: 0 20px;
border-width: 0;
position: relative;
border-color: transparent;
background-color: transparent;
border-radius: 20px;
}
#target
{
margin-left: 90px;
font-size: 40px;
}
